{% extends "_base.html" %}

{% set title='Add a new menu item to {} menu'.format(restaurant.name) %}

{% block content %}
    {% if msg %}
        <p>{{ msg }}</p>
    {% endif %}
    <h2>{{ title }}</h2>
    <form action="{{ url_for('menu_item_new', restaurant_id=restaurant.id) }}" method="post">
        <label>
            Name:
            <input type="text" name="name" placeholder="Item name">
        </label>
        <br><br>
        <label>
            Price:
            <input type="text" name="price" placeholder="0.00">
        </label>
        <br><br>
        <label>
            Description:
            <br>
            <textarea cols="45" name="description" placeholder="Some descriptive text"></textarea>
        </label>
        <br><br>
        <input type="submit" value="Add">
    </form>
    <p><a href="{{ url_for('restaurant_menu', restaurant_id=restaurant.id) }}">&laquo; Cancel</a></p>
{% endblock %}