{% extends "_base.html" %}

{% set title='Edit menu item'.format(restaurant.name) %}

{% block content %}
    {% if msg %}
        <p>{{ msg }}</p>
    {% endif %}
    <h2>{{ title }}</h2>
    <form action="{{ url_for('menu_item_edit', restaurant_id=restaurant.id, menu_id=item.id) }}" method="post">
        <label>
            Name:
            <input type="text" name="name" value="{{ item.name }}">
        </label>
        <br><br>
        <label>
            Course:
            <input type="text" name="course" value="{{ item.course }}">
        </label>
        <br><br>
        <label>
            Description:
            <br>
            <textarea cols="45" name="description" placeholder="Some descriptive text">{{ item.description }}</textarea>
        </label>
        <br><br>
        <label>
            Price:
            <input type="text" name="price" value="{{ item.price }}">
        </label>
        <br><br>
        <input type="submit" value="Add">
    </form>
    <p><a href="{{ url_for('restaurant_menu', restaurant_id=restaurant.id) }}">&laquo; Cancel</a></p>
{% endblock %}