{% extends "_base.html" %}

{% set title='Delete Restaurant' %}

{% block content %}

    <div class="row">
        <div class="col-xs-12">
            <ul class="breadcrumb">
                <li><a href="{{ url_for('restaurant_list') }}">Restaurants</a></li>
                <li class="active">Delete Restaurant</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 text-center">
            <h2>Are you sure you want to completely remove the restaurant &quot;{{ restaurant.name }}&quot;</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <form action="{{ url_for('restaurant_delete', restaurant_id=restaurant.id) }}" method="post">
                <input class="btn btn-danger btn-lg btn-block" type="submit" value="Delete">
                <a class="btn btn-primary btn-lg btn-block" href="{{ url_for('restaurant_list') }}">Cancel</a>
            </form>
        </div>
    </div>

{% endblock %}