{% extends "_base.html" %}

{% set title = '{} Menu'.format(restaurant.name) %}

{% block content %}

    <div class="row">
        <div class="col-xs-12">
            <ul class="breadcrumb">
                <li><a href="{{ url_for('restaurant_list') }}">Restaurants</a></li>
                <li class="active">{{ restaurant.name }}</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 text-center">
            <h1>{{ title }}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Course</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                {% for item in menu %}
                    <tr>
                        <td>{{ item.name }}</td>
                        <td>{{ item.course }}</td>
                        <td>{{ item.description }}</td>
                        <td>{{ item.price }}</td>
                        <td>
                            <a class="text-info"
                               href="{{ url_for('menu_item_edit', restaurant_id=restaurant.id, menu_id=item.id) }}">Edit</a>
                        </td>
                        <td>
                            <a class="text-danger"
                               href="{{ url_for('menu_item_delete', restaurant_id=restaurant.id, menu_id=item.id) }}">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <a class="btn btn-primary btn-lg btn-block" href="{{ url_for('menu_item_new', restaurant_id=restaurant.id) }}">Add
            a new item</a>
    </div>
{% endblock %}