{% extends "_base.html" %}

{% set title='Edit Restaurant' %}

{% block content %}

    <div class="row">
        <div class="col-xs-12">
            <ul class="breadcrumb">
                <li><a href="{{ url_for('restaurant_list') }}">Restaurants</a></li>
                <li>
                    <a href="{{ url_for('restaurant_menu', restaurant_id = restaurant.id) }}">{{ restaurant.name }}</a>
                </li>
                <li class="active">Edit</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 text-center">
            <h2>Edit Restaurant &quot;{{ restaurant.name }}&quot;</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <form action="{{ url_for('restaurant_edit', restaurant_id=restaurant.id) }}" method="post">
                <div class="form-group">
                    <label for="restaurant-name">Name</label>
                    <input id="restaurant-name" class="form-control" type="text" name="name"
                           value="{{ restaurant.name }}">
                </div>

                <input class="btn btn-success btn-lg btn-block" type="submit" value="Save">
                <a class="btn btn-primary btn-lg btn-block" href="{{ url_for('restaurant_list') }}">Cancel</a>
            </form>
        </div>
    </div>
{% endblock %}