{% extends "_base.html" %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 text-center">
            <h1>Restaurants List</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                </tr>
                </thead>
                <tbody>
                {% for restaurant in restaurants %}
                    <tr>
                        <td>{{ restaurant.id }}</td>
                        <td>
                            <a href="{{ url_for('restaurant_menu', restaurant_id=restaurant.id) }}">{{ restaurant.name }}</a>
                        </td>
                        <td>
                            <a class="text-info" href="{{ url_for('restaurant_edit', restaurant_id=restaurant.id) }}">Edit</a>
                        </td>
                        <td>
                            <a class="text-danger"
                               href="{{ url_for('restaurant_delete', restaurant_id=restaurant.id) }}">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
    <div class="row"></div>
    <a class="btn btn-primary btn-lg btn-block" href="{{ url_for('restaurant_new') }}">Add a new
        restaurant</a>

{% endblock %}
