{% extends "_base.html" %}

{% set title='Add a New Restaurant' %}

{% block content %}
    {% if msg %}
        <p>{{ msg }}</p>
    {% endif %}
    <h2>Add a new restaurant</h2>
    <form action="{{ url_for('restaurant_new') }}" method="post">
        <label>
            Name:
            <input type="text" name="name" placeholder="Name" autofocus>
        </label>
        <input type="submit" value="Add">
    </form>
    <p><a href="{{ url_for('restaurant_list') }}">&laquo; Cancel</a></p>
{% endblock %}