{% extends "_base.html" %}

{% set title='Add a New Restaurant' %}

{% block content %}

    <div class="row">
        <div class="col-xs-12">
            <ul class="breadcrumb">
                <li><a href="{{ url_for('restaurant_list') }}">Restaurants</a></li>
                <li class="active">New</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 text-center">
            <h2>{{ title }}</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <form action="{{ url_for('restaurant_new') }}" method="post">
                <div class="form-group">
                    <label for="restaurant-name">Name</label>
                    <input id="restaurant-name" class="form-control" type="text" name="name" placeholder="Name"
                           autofocus>
                </div>

                <input class="btn btn-success btn-lg btn-block" type="submit" value="Add">
                <a class="btn btn-primary btn-lg btn-block" href="{{ url_for('restaurant_list') }}">Cancel</a>
            </form>
        </div>
    </div>
{% endblock %}